# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/src/app/**/test

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# pwa
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

# Sentry Auth Token
.sentryclirc