@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* General */
    --text: 0 0% 64%;
    --background: 0 0% 10%;

    /* Brand */
    --primary: 154 40% 53%;
    --primary-foreground: 0 0 11%;  

    --secondary: 154 2% 24%;
    --secondary-foreground: 154 84% 95%;

    /* Card */
    --card: 0 0% 15%;
    --card-foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 50%;
    
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    /* Badges */
    --rare: 120, 100%, 50%;
    --super: 240, 7%, 9%;
    --epic: 301, 97%, 45%;
    --legendary: 25, 97%, 45%;
    
    /* Components */
    --border: 0 0% 30%;
    --input: 0 0% 15%;
  }
}

@layer base {
  html {
    /* font-size: 16px; */
  }

  body {
    /* font-size: .8em !important */
  }
}